:root {
    --color1: rgb(0, 191, 255);
    --color3: rgb(5, 177, 177);
    --color2: rgb(116, 25, 182);
}

button {
    border: white solid 2px;
    border-radius: 15%;
    height: 32px;
    width: 60px;
}

.temna {
    color: #eee;
    background-color: black;
}

header,
section,
footer {
    padding: 100px 0;
}

header {
    padding: 110px 0;
}

header,
footer {
    background: url(../img/pattern.png), var(--color1);
    background: url(../img/pattern.png), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/pattern.png), -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/pattern.png), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: url(../img/pattern.png), progid: DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
    background-size: contain;
}

.cennne {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itd_triangle {
    margin-right: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--color2);
}

.kikuy {
    background-color: #eee;
}

.btn-itd {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 30px;
    color: var(--color1);
    background-color: var(--color2);
}

.btn-itd:hover {
    color: var(--color2);
    background-color: var(--color1);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*o course*/

.about {
    background-color: #eee;
}

.about i {
    font-size: 25px;
    color: var(--color2);
}

.itd_circle {
    color: var(--color2);
    margin: 30px auto 30px;
    width: 100px;
    height: 100px;
    background-color: var(--color1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid var(--color2);
    font-weight: bold;
    font-size: 120%;
}

.itd_circle:hover {
    color: var(--color1);
    background-color: var(--color2);
    border: 2px solid var(--color1);
    box-shadow: 6px 5px 10px 6px rgba(0, 0, 0, 0.5);
}

.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}

.forwhom h5 {
    padding: 50px;
    border: 15px solid var(--color1);
}


/*color*/

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color2);
}

.accordion-button:not(.collapsed) {
    color: var(--color1);
    background-color: var(--color2);
}

.popi {
    margin-top: -3px;
}


/*matrix*/

.btn_home {
    height: 40px;
    width: 100px;
    margin-top: 4%;
    margin-left: 10%;
}

.kiosk {
    width: 100%;
    background-color: var(--color2);
    border-color: var(--color2);
    color: var(--color1);
    font-weight: bold;
}


/*///////////////////////////////////////////*/


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}